/* style.css ^+*/

#calc-wrapper {
    width: 130px;
    height: 160px;
    border: 1px solid black;
    margin: 0 auto;
    padding: 0;
    background-color: LightGray;
    
}

#display {
    width: 90%;
    height: 20px;
    border: 1px solid black;
    text-align: right;
    margin: 0 auto;
    padding: 0;
    background-color: green;
    color: white; 
}

#display p {
    margin: 0;
    padding: 0;
}

.row {
    width: 110px;
    height: 25px;
    margin: 0 auto;
    padding: 1px;
}

#clear {
    width: 24px;
    height: 24px;
    float: left;
}

#clear p {
    margin: 0;
    padding: 0;
    text-align: center;
}

.empty {
    width: 24px;
    height: 24px;
    float: left;
    margin: 1px;
    padding: 0;
}

.button {
    width: 24px;
    height: 24px;
    border: 1px solid black;
    float: left;
    margin: 0;
    padding: 0;
}

#multiply, #divide, #add, #minus, #total {
    background-color: red;
}

.button p {
    margin: 0;
    padding: 0;
    text-align: center;
}

.press {
    background-color: black;
    color: white;
}